<!DOCTYPE html>
<html>
<head>
    <title>News Articles</title>
</head>
<body>
    <h1>Latest News</h1>
    <form method="GET" action="{% url 'fetch_articles' %}">
        <input type="text" name="search_term" placeholder="Enter News topic">
        <button type="submit">Click Here To Search</button>
    </form>

    <ul>
        {% for article in articles %}
            <li>
                <h2>{{ article.title }}</h2>
                <p>{{ article.description }}</p>
                <p><em>{{ article.source }}</em> - {{ article.published_at }}</p>
                <a href="{{ article.url }}" target="_blank">Read more</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
